<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>MyJeff05</servlet-name>
    <servlet-class>tw.org.iii.Jeff05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJeff05</servlet-name>
    <url-pattern>/Jeff05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff07</servlet-name>
    <servlet-class>tw.org.iii.Jeff07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff07</servlet-name>
    <url-pattern>/Jeff07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff08</servlet-name>
    <servlet-class>tw.org.iii.Jeff08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff08</servlet-name>
    <url-pattern>/Jeff08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff09</servlet-name>
    <servlet-class>tw.org.iii.Jeff09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff09</servlet-name>
    <url-pattern>/Jeff09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff10</servlet-name>
    <servlet-class>tw.org.iii.Jeff10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff10</servlet-name>
    <url-pattern>/Jeff10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff11</servlet-name>
    <servlet-class>tw.org.iii.Jeff11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff11</servlet-name>
    <url-pattern>/Jeff11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff12</servlet-name>
    <servlet-class>tw.org.iii.Jeff12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff12</servlet-name>
    <url-pattern>/Jeff12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff13</servlet-name>
    <servlet-class>tw.org.iii.Jeff13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff13</servlet-name>
    <url-pattern>/Jeff13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff14</servlet-name>
    <servlet-class>tw.org.iii.Jeff14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff14</servlet-name>
    <url-pattern>/Jeff14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff15</servlet-name>
    <servlet-class>tw.org.iii.Jeff15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff15</servlet-name>
    <url-pattern>/Jeff15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff16</servlet-name>
    <servlet-class>tw.org.iii.Jeff16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff16</servlet-name>
    <url-pattern>/Jeff16</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff17</servlet-name>
    <servlet-class>tw.org.iii.Jeff17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff17</servlet-name>
    <url-pattern>/Jeff17</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff18</servlet-name>
    <servlet-class>tw.org.iii.Jeff18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff18</servlet-name>
    <url-pattern>/Jeff18</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff19</servlet-name>
    <servlet-class>tw.org.iii.Jeff19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff19</servlet-name>
    <url-pattern>/Jeff19</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff20</servlet-name>
    <servlet-class>tw.org.iii.Jeff20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff20</servlet-name>
    <url-pattern>/Jeff20</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff21</servlet-name>
    <servlet-class>tw.org.iii.Jeff21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff21</servlet-name>
    <url-pattern>/Jeff21</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff24</servlet-name>
    <servlet-class>tw.org.iii.Jeff24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff24</servlet-name>
    <url-pattern>/Jeff24</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff25</servlet-name>
    <servlet-class>tw.org.iii.Jeff25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff25</servlet-name>
    <url-pattern>/Jeff25</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff26</servlet-name>
    <servlet-class>tw.org.iii.Jeff26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff26</servlet-name>
    <url-pattern>/Jeff26</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff27</servlet-name>
    <servlet-class>tw.org.iii.Jeff27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff27</servlet-name>
    <url-pattern>/Jeff27</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff29</servlet-name>
    <servlet-class>tw.org.iii.Jeff29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff29</servlet-name>
    <url-pattern>/Jeff29</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff30</servlet-name>
    <servlet-class>tw.org.iii.Jeff30</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff30</servlet-name>
    <url-pattern>/Jeff30</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff31</servlet-name>
    <servlet-class>tw.org.iii.Jeff31</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff31</servlet-name>
    <url-pattern>/Jeff31</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jeff32</servlet-name>
    <servlet-class>tw.org.iii.Jeff32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jeff32</servlet-name>
    <url-pattern>/Jeff32</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>My Tepmplate</description>
    <param-name>template-path</param-name>
    <param-value>C:\javaee\workspace\JavaWeb\WebContent\temates</param-value>
  </context-param>
  <context-param>
    <description>Image Folder</description>
    <param-name>images-path</param-name>
    <param-value>C:\Users\user\git\III2003_JavaWeb\WebContent\images</param-value>
  </context-param>
  <context-param>
    <description>檔案上傳目錄</description>
    <param-name>upload-path</param-name>
    <param-value>C:\javaee\workspace\JavaWeb\WebContent\upload</param-value>
  </context-param>
</web-app>